<h1>{{t 'home.title'}}</h1>

<p>{{t 'home.intro'}}</p>

<h2>Videos</h2>

{{#each model.families as |family|}}
<h3>{{family}}</h3>
<div class="row">
    {{#each (get model.videos family) as |video|}}
    {{#link-to 'video.show' model.lang video.name}}
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="/img/{{video.name}}.jpg" alt="..."/>
            <div class="caption">
                <h4>{{video.title}}</h4>
            </div>
        </div>
    </div>
    {{/link-to}}
    {{/each}}
</div>
{{/each}}
